# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
.env/
env/

# VS Code settings
.vscode/

# Logs and outputs
*.log
logs/fit
lstm_directory/

# IPython history
profile_default/
ipython_config.py

# Unit test cache
.pytest_cache/

# mypy cache
.mypy_cache/

# PyInstaller
dist/
build/
*.spec

# Coverage reports
htmlcov/
.coverage
.cache
